<div id="<%= dom_id cat %>">
  <p>
    <strong>Name:</strong>
    <%= cat.name %>
  </p>

  <p>
    <strong>Breed:</strong>
    <%= cat.breed %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= cat.age %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= cat.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= cat.description %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= cat.image_url %>
  </p>

</div>
